In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-10-22 22:36:11,-20.3428,57.7575,73.22,100,75,3.44
1,1,Aksarka,RU,2021-10-22 22:36:12,66.5606,67.7975,26.71,96,96,6.89
2,2,Pangnirtung,CA,2021-10-22 22:36:12,66.1451,-65.7125,26.60,80,75,11.50
3,3,Ushuaia,AR,2021-10-22 22:36:13,-54.8000,-68.3000,51.46,43,20,12.66
4,4,Talnakh,RU,2021-10-22 22:36:13,69.4865,88.3972,23.56,96,100,4.99
5,5,Nyurba,RU,2021-10-22 22:36:14,63.2842,118.3319,32.20,91,92,8.95
6,6,Saint-Philippe,RE,2021-10-22 22:36:14,-21.3585,55.7679,72.99,81,11,8.97
7,7,Guaratinga,BR,2021-10-22 22:36:15,-16.5667,-39.5667,74.07,93,99,5.44
8,8,Guiyang,CN,2021-10-22 22:36:15,26.5833,106.7167,45.09,81,20,4.47
9,9,Yellowknife,CA,2021-10-22 22:36:09,62.4560,-114.3525,45.41,65,40,27.63

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
12,12,Kavieng,PG,2021-10-22 22:36:17,-2.5744,150.7967,83.73,71,77,12.86
16,16,Port Blair,IN,2021-10-22 22:36:18,11.6667,92.7500,79.14,84,100,3.24
17,17,Atuona,PF,2021-10-22 22:36:19,-9.8000,-139.0333,78.12,77,33,18.10
18,18,Vaini,TO,2021-10-22 22:36:19,-21.2000,-175.2000,77.16,78,75,12.66
20,20,Isangel,VU,2021-10-22 22:36:20,-19.5500,169.2667,82.51,69,20,6.91
28,28,Butaritari,KI,2021-10-22 22:36:24,3.0707,172.7902,82.47,78,95,17.94
29,29,Kapaa,US,2021-10-22 22:34:39,22.0752,-159.3190,84.18,80,40,5.99
42,42,Puerto Ayora,EC,2021-10-22 22:36:30,-0.7393,-90.3518,76.96,81,66,9.06
44,44,Port-Gentil,GA,2021-10-22 22:36:31,-0.7193,8.7815,78.76,83,90,10.36
50,50,Trat,TH,2021-10-22 22:36:37,12.5000,102.5000,81.99,95,100,4.36

In [10]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
12       Kavieng      PG     83.73  -2.5744  150.7967
16    Port Blair      IN     79.14  11.6667   92.7500
17        Atuona      PF     78.12  -9.8000 -139.0333
18         Vaini      TO     77.16 -21.2000 -175.2000
20       Isangel      VU     82.51 -19.5500  169.2667
28    Butaritari      KI     82.47   3.0707  172.7902
29         Kapaa      US     84.18  22.0752 -159.3190
42  Puerto Ayora      EC     76.96  -0.7393  -90.3518
44   Port-Gentil      GA     78.76  -0.7193    8.7815
50          Trat      TH     81.99  12.5000  102.5000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
12,Kavieng,PG,83.73,-2.5744,150.7967,Nusa Island Retreat
16,Port Blair,IN,79.14,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
17,Atuona,PF,78.12,-9.8000,-139.0333,Villa Enata
18,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
20,Isangel,VU,82.51,-19.5500,169.2667,Tanna Lodge
28,Butaritari,KI,82.47,3.0707,172.7902,Isles Sunset Lodge
29,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
42,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
44,Port-Gentil,GA,78.76,-0.7193,8.7815,Fengshui Residence
50,Trat,TH,81.99,12.5000,102.5000,สวนหนิง-อัศ

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))